@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Space+Grotesk:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-950 text-white font-sans antialiased overflow-x-hidden;
    background-image: radial-gradient(circle at 50% 0%, #101012 0%, #09090b 100%);
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-dark-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-dark-800 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}

.glass-panel {
  @apply bg-dark-900/60 backdrop-blur-md border border-white/5 shadow-xl;
}

.text-glow {
  text-shadow: 0 0 20px rgba(57, 255, 20, 0.3);
}

.btn-primary {
  @apply bg-brand text-black font-bold px-8 py-4 rounded-sm uppercase tracking-wider hover:bg-white transition-all duration-300 hover:scale-[0.98] active:scale-95 shadow-[0_0_20px_rgba(57,255,20,0.3)] hover:shadow-[0_0_30px_rgba(255,255,255,0.4)];
}
